*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#eef8ee;
color:#333;
}

header{
background:#2e7d32;
color:white;
text-align:center;
padding:30px;
}

main{
max-width:1000px;
margin:auto;
padding:20px;
}

.painel{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.1);
width:400px;
}

.card h2{
margin-bottom:15px;
color:#2e7d32;
}

select,
input{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

button{
display:block;
margin:30px auto;
padding:15px 30px;
background:#4caf50;
color:white;
border:none;
border-radius:10px;
font-size:18px;
cursor:pointer;
}

button:hover{
background:#2e7d32;
}

#resultado{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.1);
margin-top:20px;
font-size:22px;
text-align:center;
}

.ranking{
margin-top:30px;
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,.1);
text-align:center;
}

#classificacao{
font-size:28px;
font-weight:bold;
margin-top:15px;
}

footer{
margin-top:40px;
background:#2e7d32;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

.card{
width:100%;
}

}